@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
    --background: lavenderblush;
    --foreground: #171717;
}

@theme inline {
    --animate-typing: typing 2s steps(36), blink 1s infinite;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@keyframes typing {
    0% {
        width: 0%;
        visibility: "hidden";
    }
    100% {
        width: 100%;
    }
}
@keyframes blink {
    0%,
    100% {
        border-right-style: var(--tw-border-style);
        border-right-width: 4px;
    }
    50% {
        border-right-width: 0;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 20vw;
    background-color: rgba(00, 00, 00, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
